$color-primary: #47663d;
$color-secondary: #d12121;
$color-black: rgb(7, 5, 5);
$color-white: #ffffff;
body {
  background-color: #47663d;
  color: #86f361;
}

//mixins
@mixin crazyborder($bordercolor) {
  border: 1px solid $bordercolor;
  border-radius: 5px;
  padding: 20px 40px;
  color: red;
}

.navigation {
  .nav-list {
    list-style: none;
    .nav-list-item {
      padding: 5px 10px;
      border-radius: 5px;
      display: inline-block;
      background-color: $color-secondary;
      @include crazyborder($color-white);

      &:hover {
        background-color: darken($color-secondary, 15%);
        background-color: lighten($color-secondary, 15%);
      }
    }
  }
}

.box {
  height: 100px;
  width: 100px;
  background-color: $color-secondary;
  @include crazyborder(red);
}
